/*-------------------------------
------- NOTE POUR + TARD --------
--------------------------------*/

/*Premier breakpointpour media-queries : width à 1300px
--> <NAV> Recherche et Contact deviennent des icônes*/

/*-------------------------------
------------RESET CSS------------
--------------------------------*/

* {
    border: none;
    font-family: Monserrat, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/*-------------------------------
------------ GENERAL ------------
--------------------------------*/

@font-face {
    font-family: "Monserrat";
    src: url("font/Montserrat-Medium.otf");
}


/*-------------------------------
------------BANDEAU + NAV -------
--------------------------------*/

header {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

header .logo {
    margin-left: 50px;
    position: absolute;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-variant: all-small-caps;
    font-size: 1rem;
    padding: 15px 0 15px 275px;
    margin-right: 50px;
}

nav img {
    height: 0.7rem;
}

nav ul li, #MiniJeuxOpen, #MiniJeuxClose {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a {
    color: #000;
}

nav a:hover, #open:focus {
    color:#c10230;
}

nav h6 {
    font-size: 1.1rem;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#MiniJeux {
    display: none;
    margin: 0px 257px 0 0;
    position: absolute;
    top:5px;
}

#MiniJeux:target {
    display: block;
}

#MiniJeuxClose img {
    transform: rotate(180deg);
}

#MiniJeux:not(:target) ~ #MiniJeuxClose {
	display: none;
}

#MiniJeux:target ~ #MiniJeuxOpen {
    display: none;
}

.recherche, .contact {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    text-align: center;
    width: 150px;
}

.contact {
    background-color: #ffcd00;
    margin-left: 20px;
}

.recherche:hover {
    background-color: #ccc;
    color: #c10230;
    cursor: pointer;
}

.contact:hover {
    color: #c10230;
    cursor: pointer;
}

.bandeau {
    max-width: 1350px;
    width: 100%;
}

#MiniJeux ul {
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

nav > ul, .recherche, .contact, #MiniJeuxClose {
    z-index: 100;
}

/*-------------------------------
-----------RECHERCHE-------------
--------------------------------*/

#body {
    background-color: #ffcd00;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100vw;
    max-width: 1350px;
    margin: 0 auto;
    padding-top: 30px;
}

.rectangle_blanc {
    background-color: #fff;
    height: 15px;
    width: 5px;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 2px;
}

.titre_recherche {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 30px;
    font-size: 0.75rem;
}

.titre_recherche div:first-child {
    display: flex;
}

.titre_recherche a {
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
}

.titre_recherche a span {
    font-size: 0.75em;
    margin-top: -20px;
}

.formulaire {
    background-color: #fff;
    border-radius: 10px;
    padding:30px;
    height: 150px;
    width: 100%;
}

.formulaire label {
    font-weight: bold;
    font-size: 1.3em;
}

.formulaire .champ_recherche {
    display: flex;
    margin-top: 30px;
    height: 50px;
}

#rechercher {
    border: #ccc 1px solid;
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.submit {
    width:150px;
    background-color: #c10230;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    padding:15px 0 ;
    border-radius: 0 5px 5px 0;
}

/*-------------------------------
------------WRAPPER--------------
--------------------------------*/
.wrapper {
    background-color: #fff;
    border-radius: 10px;
    margin: -100px auto 0 auto;
    max-width: 1060px;
    width: 100%;
    z-index: 10;
    position: relative;
    padding: 40px 50px;
}

/*-------------------------------
----------ACCUEIL DEV------------
--------------------------------*/

.chapeau, .chapeau h1, .sommaire, #partie1, #partie2, #partie3  {
    margin-bottom: 30px;
}

.chapeau {
    font-weight: bold;
    line-height: 1.6em;
}

#partie1, #partie2, #partie3  {
    line-height: 1.6em;
}

#partie1 h2, #partie2 h2, #partie3 h2  {
    font-weight: bold;
    margin-bottom: 20px;
}

.sommaire {
    background-color: #f3f6f9;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 15px 20px 10px 20px;
}

.sommaire .fleche {
    font-size: 1.5em;
}

.sommaire h3 {
    margin-bottom: 10px;
    text-decoration: underline #ffcd00 5px;
}

.sommaire ul {
    list-style: none;
}

.sommaire li {
    margin-bottom: 10px;
}

.sommaire a span {
    color: #ffcd00;
}

.sommaire a {
    color: #000;
    font-weight: bold;
}

.sommaire a:hover, .sommaire a:hover span {
    color: #c10230;
    text-decoration: underline;
}


/*-------------------------------
------------FOOTER---------------
--------------------------------*/

footer {
    background-color: #202228;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

footer .colonne {   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1350px;
    width: 100vw;
    height: 300px;
    align-self: center;
    margin-bottom: 30px;
}

.col1, .col2, .col3, .col4 {
    padding: 15px;
}

footer h5, footer h4 {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 30px;
}

footer p {
    font-size: 0.85rem;
    margin: 0;
    color: #fff;
}

.col1 img {
    margin-top: 150px;
    width: 150px;
}

.col3 > div {
    border-radius: 10px;
    background-color: #283035;
    margin-bottom: 15px;
    padding: 15px;
}

.col3 > div a {
    color: #fff;
    font-size: 0.8rem;
}

.col3 h4 {
    margin-bottom: 10px;
}

.col3 a {
    color: #ffcd00;
    font-size: 0.75rem;
}

.col3 em, .col4 em {
    color: #ffcd00;
    font-style: normal;
}

.col4 a {
    color: #fff;
}

.col4 a div {
    border: 2px #fff solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-variant: all-small-caps;
    height: 50px;
    margin-top: 30px;
    padding-left: 10px;
}

.col3 a:hover, .col3 a:hover em, .col4 a:hover div em{
    color: #ffcd00;
    text-decoration: underline;
    font-style: normal;
}

.col3 a:hover span, .col4 a:hover span{
    color: #c10230;
    text-decoration:none;
}

footer .mention {
    background-color: #283035;
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 30px;
}

footer .mention a {
    color: #5c7482;
    text-align: center;
    width: 100px;
    margin: 0 50px 30px 0;
}

footer .mention a:hover {
    color: #c10230;
}

footer .mention img {
    margin-bottom: 5px;
    margin-top: 30px;
    transform: rotate(180deg);
    width: 50px;
}

footer .mention ul {
    font-size: 0.85rem;
    list-style: none;
}

footer .mention ul a {
    color: #ffcd00;
}

footer .mention ul a:hover {
    color: #ffcd00;
}

footer .mention ul li {
    float: left;
    margin-bottom: 25px;
}
