h1{
 text-align: left;font-size: large; height: 60%;
 
 color: red;
 font-size: 50px;
text-decoration: underline red;
margin-top: 70px;
 margin-left: 40px;
}


h2{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 60px;
    color: #000;
    
    text-decoration: underline;
    
}

p{
    font-size: 20px;
    text-align: justify;
   margin: 50px;
    color: black;
}
 
.Logo{
    border:solid 20px red;
    border-radius: 10%;
    background-color: rgb(0, 132, 255) opacity: 0.5
    ;
    width: 20%;
    height: 20%;


}

.capture{
    border: solid 3px black;
    width: 30%; height: 30%;
    margin-left: 70px;
}
.capture:hover{
    transform: scale(2);
    transition-duration: 1s;

    
}

span{ color: red;}

u{text-decoration: underline black;}

a{ color: cornflowerblue;}