#logoJs{
    display: flex;
    justify-content: center;
    transform: scale(0.5);
}

h1, h2, h3{
    text-align: center;
    margin: 20px;
}

h3{
    text-align: left;
}

#wrapper{
    width: 97%;
    margin: auto;
    margin-bottom: 4%;
}

#dukeNukem{
    display: flex;
    margin: 20px;
}

#dukeNukem p{
    margin: 5px;
    width: 60%;
}

figcaption{
    opacity: 0.5;
}